---
import Card from "../../components/Card.astro";
import Layout from "../../components/Layout.astro";
---

<Layout title="#0 Bachelor works">
  <main>
    <h1 class="text-center text-5xl font-bold text-slate-300 mb-10">
      Bachelor classes assignments
    </h1>
    <ul class="card-list-grid">
      <Card
        href="1-transformations/"
        title="#1 Transformations"
        body="Linear, projective and affine transformations"
      />
      <Card
        href="2-curve/"
        title="#2 Curve"
        body="Witch of Agnesi curve with tangent and normal lines"
      />
      <Card
        href="3-cubic-bezier/"
        title="#3 Cubic Bezier"
        body="Cubic Bezier curves with animation"
      />
      <Card
        href="4-cabinet-projection/"
        title="#4 Cabinet projection"
        body="House picture with cabinet projection"
      />
      <Card
        href="5-faceted-shape-threejs/"
        title="#5 Faceted shape, Three.js"
        body="Faceted lathe geometry with three js"
      />
      <Card
        href="6-faceted-bezier-threejs/"
        title="#6 Faceted shape generation, Three.js"
        body="Rotation-based faceted shape generation with three js"
      />
      <Card
        href="7-lsystem-tree/"
        title="#7 L-System Tree"
        body="Recursive tree generation using L-Systems"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .card-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0;
  }
</style>
