---
import Layout from "../../../components/Layout.astro";
---

<script>
  import "./main.js";
</script>

<Layout title="L-System tree">
  <div id="root"></div>
</Layout>

<style>
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #519721;
  }
</style>
